<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta charset="utf-8">
	<title>SupaChat</title>
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/fonts.css">
	<link rel="stylesheet" href="css/index.css">
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">
	<link
	  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	  rel="stylesheet" type="text/css">
</head>
<body>
	<div class="container">
		<div class="top">
			<h1 id="title" class="hidden"><span id="logo">SupaC<strike>h</strike>at!</span></h1>
		</div>
		<div class="login-box animated fadeInUp">
			<div class="box-header">
				<h2 id="whoareyou">Who are you?</h2>
			</div>
			<div id="box-content">
				<label for="username">Username</label>
				<br/>
				<input type="text" id="username" required>
				<br/>
				<label for="password">Password</label>
				<br/>
				<input type="password" id="password" required>
				<br/>
				<label for="secret">Secret</label>
				<br/>
				<input type="text" id="secret" required>
				<br/>
				<button type="submit" id="login">Sign In</button> <button type="button" id="register">Register</button>
				<br/>
				Or login with:
				<br />
				<a href="/auth/google"><i class="fa fa-google-plus" aria-hidden="true"></i>Google </a>
				<a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook" aria-hidden="true"></span> Facebook</a>

			</div>
		</div>
	</div>
</body>
<script src="/jquery/jquery.min.js"></script>
<script src="js/index.js"></script>
</html>
